a{
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

.header {
  position: sticky;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-left: 90px;
  padding-right: 30px;
  text-decoration: none;
  background-color: #ffffff7a;
  height: 80px;
}

.nav-item {
  text-decoration: none;
  background-color: #eff4ff;
  border-radius: 5px;
  font-size: 1.2rem;

  padding: 10px;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.nav-item-left {
  background-color: #c8d9ff;
}


.nav-right {
  gap: 20px;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 120px;
  z-index: 10;
}

.menu div {
  padding: 10px;
}

.menu div:hover {
  background-color: #f0f0f0;
}
